<br><br>
<div class="row">
  <div class="row justify-content-around">
  <div class="col-3">
    <%= image_tag('koddo.png', height: '350', width: '350', class: 'rounded-circle') %>
  </div>
  <div class="col-3">
    <br/><br/>
    <h4>Приветственные слова</h4>
    <p align="justify">Добро пожаловать на наш сайт.
      Тут вы сможете прокачать свои личностные навыки вместе с нашими персонажами Коддо и Лили.
      Работа идёт над 4-мя базовыми навыками такими как: речь, эффективность, сон и питание.
      При достижении отличных результатов в саморазвитии у Вас будет возможность начать создавать собственные задания для других пользователей и зарабатывать на этом!
      За каждое качественное предложенное задание вы зарабатываете 50 руб. </p>
    <div id = "ans1" style="display:none"><p id="loginmsg">Чтобы воспользоваться нашим сайтом Вам необходимо зарегестрироваться!</p></div>
  </div>
  <div class="col-3">
    <%= image_tag('lilli.jpg', height: '350', width: '350', class: 'rounded-circle') %>
  </div>

</div>
  </div>
