</br>
<h2 align="center">Лидеры очков речи</h2>
</br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Позиция</th>
      <th scope="col">Имя пользователя</th>
      <th scope="col">Очки речи</th>
      <th scope="col">Рейтинг</th>
      <th scope="col">Звание</th>
    </tr>
  </thead>
  <tbody>
    <% sql = 'select login, speech, rating from users where superuser = false order by speech DESC limit 20'%>
    <% records_array = ActiveRecord::Base.connection.execute(sql) %>
    <% records_array.each_with_index do |result, position| %>
      <tr>
        <th class="table-secondary" scope="row"><%= position + 1 %></th>
        <td class="table-secondary"><%= result.values[0] %></td>
        <td class="table-secondary"><b><%= result.values[1] %></b></td>
        <td class="table-secondary"><%= result.values[2] %></td>
        <% if result.values[2] < 300 %>
          <td class="table-secondary" style="color:#808080">Новичок</td>
        <% elsif result.values[2] >= 300 and result.values[2] < 500%>
          <td class="table-secondary" style="color:#32CD32">Ученик</td>
        <% elsif result.values[2] >= 500 and result.values[2] < 1000%>
          <td class="table-secondary" style="color:#006400">Опытный</td>
        <% elsif result.values[2] >= 1000 and result.values[2] < 2000%>
          <td class="table-secondary" style="color:#0000FF">Профессионал</td>
        <% elsif result.values[2] >= 2000 and result.values[2] < 5000%>
          <td class="table-secondary" style="color:#191970">Гений</td>
        <% else%>
          <td class="table-secondary" style="color:#8B0000">Сверхразум</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
